<img src="assets/images/burger.png" width="200" />

<h1>Eat -Da-Burger</h1>

<ul>
    {{#each burgers}}
    <li>
        <p>{{this.id}}. {{this.burger_name}}</p>
        <p></p>
    </li>
    {{/each}}
</ul>

<form action="/api/burgers/new" method="POST">
    <textarea type="text" name="burger"></textarea>
    <br>
    <button class="submit" type="submit">Submit</button>
</form>
<h3>Enter a burger you want to eat and click the "Submit" button</h3>